# Chargement des donnees

In [1]:
import pandas as pd
import numpy as np

customer = pd.read_csv('Customer.csv')

In [2]:
customer.info()
customer.head()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               10000 non-null  float64
 1   pages             10000 non-null  float64
 2   first_item_prize  10000 non-null  str
 3   gender            10000 non-null  str
 4   ReBuy             10000 non-null  bool
 5   News_click        10000 non-null  float64
 6   country           10000 non-null  str
 7   revenue           10000 non-null  str
dtypes: bool(1), float64(3), str(4)
memory usage: 556.8 KB

    age  pages first_item_prize gender  ReBuy  News_click country revenue
0  41.0    6.0             28.0    Fem  False         4.0   China     113
1  34.0    4.0             15.5    Fem   True         2.0   China      36
2  38.0    5.0                ?    Fem  False         7.0   China     111
3  20.0    1.0             44.0    Fem  False         2.0   China      71
4  39.0   10.0             10.0    Fem   True         4.0   China      80

On peut observer qu'il n'y a aucune valeur null dans ce dataset

In [3]:
customer.describe()

                age         pages    News_click
count  10000.000000  10000.000000  10000.000000
mean      37.431400      5.995000      4.412000
std        9.490474      2.438559      2.418231
min       18.000000      1.000000      0.000000
25%       31.000000      5.000000      3.000000
50%       37.000000      6.000000      4.000000
75%       43.000000      7.000000      6.000000
max       79.000000     14.000000     10.000000